{{define "header"}}
<header>
  <nav>
    <a href="/">오감자코인</a>
    <ul>
      <li>
        <a href="ome></a>
      </li>
      <li>
        <a href="/add>Add</a>
      </li>
    </ul>
  </nav>
  <h1>{{.PageTitle}}</h1>
</header>
{{end}}