{{define "header"}}
<header>
  <nav>
    <a href="/">오감자코인</a>
    <ul>
      <li>
        <a href="/">{{.}}</a>
      </li>
      <li>
        <a href="/add">Add</a>
      </li>
    </ul>
  </nav>
  <h1>{{.}}</h1>
</header>
{{end}}