{{define "block"}}
<div>
      <ul>
        <li><strong>Data: </strong>{{.Data}}</li>
        <li><strong>Hash: </strong>{{.Hash}}</li>
        {{if .PrevHash}}
        <li><strong>PrevHash: </strong>{{.PrevHash}}</li>
        {{end}}
      </ul>
      <hr />
    </div>

{{end}}